.loader-container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.loader-container h1 {
  padding-bottom: 5px;
  margin: 0;
  font-weight: 500;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
  color: var(--white);
  text-align: center;
}

.progress {
  height: 5px;
  width: 100%;
  border-radius: 6px;
  background: linear-gradient(#ffffff 0 0), linear-gradient(#ffffff 0 0),
    #212121;
  background-size: 60% 100%;
  background-repeat: no-repeat;
  -webkit-animation: progress-7x9cg2 3s infinite;
  animation: progress-7x9cg2 3s infinite;
}

@-webkit-keyframes progress-7x9cg2 {
  0% {
    background-position: -150% 0, -150% 0;
  }

  66% {
    background-position: 250% 0, -150% 0;
  }

  100% {
    background-position: 250% 0, 250% 0;
  }
}

@keyframes progress-7x9cg2 {
  0% {
    background-position: -150% 0, -150% 0;
  }

  66% {
    background-position: 250% 0, -150% 0;
  }

  100% {
    background-position: 250% 0, 250% 0;
  }
}
